.App {
    text-align: center;
}

.loginBtn {
    background-color: #080;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

@media (max-width: 800px) {
    .btn {
        color: #fff;
        border-color: rgb(4, 206, 206);
        background-color: teal;
    }
}

@media (max-width: 700px) {
    .person {
        width: 80%;
    }
}
